<template>
  <target-card :target="target" :loading="loading" />
</template>

<script lang="ts">
import {
  defineComponent,
} from 'vue';
import { useRoute } from 'vue-router';
import { Target } from '@/@types/api/target';
import { getDetails } from '@/api/util';
import TargetCard from '@/components/TargetCard.vue';

/**
 * Some configuration
 */
export default defineComponent({
  name: 'target-details-page',
  components: { TargetCard },
  setup() {
    // Get route params
    const route = useRoute();

    // Target Data Pooling
    const {
      loading, object,
    } = getDetails<Target>(`/target/${route.params.id}`);

    // UI status variables

    return {
      // Pooling
      target: object,
      loading,
    };
  },
});
</script>

<style lang="scss" scoped>
.data-targets-page {
  display: flex;
  align-content: flex-start;
}

.data-header {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.target-card {
  flex: 1;
  margin: 1em;
}
</style>
