<template>
  <div class="data-page">
    <p-menu id="data-menu" :model="navigation"> </p-menu>
    <div id="data-content">
      <router-view />
    </div>
  </div>
</template>

<script lang="ts">
import PMenu from 'primevue/menu';

import {
  defineComponent,
} from 'vue';

export default defineComponent({
  name: 'data-page',
  components: { PMenu },
  setup() {
    // Navigation
    const navigation = [
      {
        label: 'Targets',
        icon: 'pi pi-desktop',
        to: { name: 'data-targets' },
      },
      {
        label: 'Services',
        icon: 'pi pi-ticket',
        to: { name: 'data-services' },
      },
      {
        label: 'Issues',
        icon: 'pi pi-minus-circle',
        to: { name: 'data-issues' },
      },
    ];

    return { navigation };
  },
});
</script>

<style lang="scss">
.data-page {
  display: flex;

  #data-menu {
    margin: 1em;
    min-width: 13em;
  }

  #data-content {
    flex: 1;
    padding: 1.5em;
  }
}
</style>
