<template>
  <div class="home-page">
    <module-card :module="module" v-for="module in modules" :key="module.id" />
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
} from 'vue';
import { Module } from '@/@types/api/module';
import { getPoolingModule } from '@/api/util';
import ModuleCard from '@/components/ModuleCard.vue';

export default defineComponent({
  name: 'dashboard-home-page',
  components: { ModuleCard },
  setup() {
    // Configure pooling
    const { objects, countdown, interval } = getPoolingModule<Module>('/modules');

    return { modules: objects, countdown, interval };
  },
  unmounted() {
    clearInterval(this.interval);
  },
});
</script>

<style lang="scss" scoped>
.home-page {
  display: flex;

  padding: 1.5em;
}
</style>
