<template>
  <div class="dashboard-page">
    <!-- Navigation Menu -->
    <p-menu-bar :model="menuItems">
      <template #end>
        <p-button
          label="Logout"
          class="p-button-text p-button-secondary"
          icon="pi pi-sign-out"
          @click="logout"
        />
      </template>
    </p-menu-bar>

    <!-- Navigation View -->
    <div id="dashboard-content">
      <router-view class="content" />
    </div>
  </div>
</template>

<script lang="ts">
import PMenuBar from 'primevue/menubar';
import PButton from 'primevue/button';
import {
  defineComponent,
} from 'vue';
import store from '@/store';
import router from '@/router';

export default defineComponent({
  name: 'dashboard-page',
  components: { PMenuBar, PButton },
  setup() {
    // Menu itens
    const menuItems = [
      { label: 'Dashboard', icon: 'pi pi-th-large', to: { name: 'dashboard' } },
      { label: 'Data', icon: 'pi pi-chart-bar', to: { name: 'dashboard-data' } },

    ];

    // Logout
    const logout = () => {
      store.dispatch('auth/logout');
      router.replace({ name: 'home' });
    };

    // Allow access
    return {
      // Menu Items
      menuItems,
      // Logout
      logout,
    };
  },
});
</script>

<style lang="scss">
.data-page {
  display: flex;

  #data-menu {
    min-width: 13em;
  }

  #data-content {
    padding: 2em;
  }
}
</style>
