<template>
  <div class="home-page">
    <service-card
      :service="service"
      v-for="service in services"
      :key="service.id"
    />
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
} from 'vue';

import ServiceCard from '@/components/ModuleCard.vue';

export default defineComponent({
  name: 'home-page',
  components: { ServiceCard },
  setup() {
    return { };
  },
});
</script>
