<template>
  <div id="login-page">
    <p-card id="login-card">
      <template #title> Please Sign In </template>
      <template #content>
        <form @submit.prevent="onSubmit">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-user"></i>
            </span>
            <p-input-text
              name="email"
              placeholder="user or email"
              v-model="email"
            />
          </div>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-lock"></i>
            </span>
            <p-password
              name="password"
              placeholder="password"
              v-model="password"
              :feedback="false"
              toggleMask
            />
          </div>
          <input
            class="p-button p-component"
            type="submit"
            id="signin-button"
            value="Sign In"
          />
        </form>
      </template>
    </p-card>
  </div>
</template>

<script lang="ts">
import PCard from 'primevue/card';

import PInputText from 'primevue/inputtext';
import PPassword from 'primevue/password';

import { defineComponent, ref } from 'vue';
import store from '@/store';
import router from '@/router';

export default defineComponent({
  components: {
    PCard, PInputText, PPassword,
  },
  name: 'login-page',
  setup() {
    // Login form
    const email = ref('');
    const password = ref('');

    const onSubmit = async () => {
      await store.dispatch('auth/login', { email: email.value, password: password.value });

      console.info('Logged In');

      router.replace({ name: 'home' });
    };

    return {
      // Login form
      email,
      password,
      onSubmit,
    };
  },
});
</script>

<style lang="scss" scoped>
#login-page {
  background-color: aquamarine;

  display: grid;

  > #login-card {
    margin: auto;

    form {
      display: flex;
      flex-direction: column;

      > *:not(:first-child) {
        margin-top: 0.5em;
      }

      > #signin-button {
        display: table-cell;
      }
    }
  }
}
</style>
