<template>
  <p-card class="module-card">
    <template #header>
      <div :style="`height: 5px; background-color: ${statusColor()};`" />
    </template>
    <template #title>{{ module.name }}</template>
    <template #subtitle>{{ module.uid }}</template>
    <template #content> Status: {{ module.statusMessage }} </template>
    <template #footer>
      <form class="config-form" @submit.prevent="update">
        <div class="p-fluid">
          <div
            class="p-field"
            v-for="config in module.configurations"
            :key="`field-${config.key}`"
          >
            <label :for="config.key">{{ config.name }}</label>
            <p-input-text
              :name="config.key"
              type="text"
              :placeholder="config.value.default"
              @change="(evn) => setConfig(config.key, evn.target.value)"
              :value="config.value.current"
            />
          </div>
          <div class="p-field" style="display: flex">
            <div style="flex: 1" />
            <input type="submit" />
          </div>
        </div>
      </form>
    </template>
  </p-card>
</template>

<script lang="ts">
import PCard from 'primevue/card';
import PInputText from 'primevue/inputtext';

import {
  defineComponent,
} from 'vue';
import axios from 'axios';
import { Module } from '@/@types/api/module';
import { getURL } from '@/api/util';

const colors: {[key: string]: string} = {
  idle: 'green',
  running: 'yellow',
};

export default defineComponent({
  components: {
    PCard,
    PInputText,
  },
  props: {
    module: {
      type: Object as () => Module,
      required: true,
    },
  },
  setup(props) {
    // Utility functions conversion
    const statusColor = (): string => colors[props.module.statusCode] || 'gray';

    let changes: Record<string, unknown> = {};

    const setConfig = (key: string, value: unknown) => {
      changes[key] = value;
    };

    // Methods
    const update = async () => {
      try {
        await axios.put(getURL(`/module/${props.module.id}/configuration`), changes);

        changes = {};
      } catch (e) {
        console.error(e);
      }
    };

    return {
      statusColor,
      // Methods
      setConfig,
      update,
    };
  },
});
</script>

<style lang="scss" scoped>
.service-card {
  text-align: left;
  border-radius: 3px;
  width: 35em;

  .p-float-label > * {
    margin-top: 2em;
    width: 100%;
  }

  .submit-button {
    margin-top: 2em;
    margin-left: auto;
    width: 10em;
  }

  .configuration {
    display: flex;
    flex-direction: column;
  }

  .service-title {
    margin: auto;
  }

  .status-indicator {
    height: 5px;
  }
}
</style>
