<template>
  <p-card v-if="!loading">
    <template #title>Target - {{ target.ipAddress }}</template>
    <template #subtitle>{{ target.id }}</template>
  </p-card>
  <p-skeleton v-else shape="card" />
</template>

<script lang="ts">

import PCard from 'primevue/card';
import PSkeleton from 'primevue/skeleton';

import {
  defineComponent,
} from 'vue';
import { Target } from '@/@types/api/target';

/**
 * Some configuration
 */
export default defineComponent({
  name: 'target-card',
  props: {
    target: {
      type: Object as () => Target,
      required: true,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    expandable: {
      type: Boolean,
      default: false,
    },
  },
  components: { PCard, PSkeleton },
  setup() {
    return {};
  },
});
</script>

<style lang="scss" scoped>
.data-targets-page {
  display: flex;
  align-content: flex-start;
}

.data-header {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.target-card {
  flex: 1;
  margin: 1em;
}
</style>
