<template>
  <p-dialog v-model:visible="extraDialog">
    <template #header>
      <h3>{{ extra.type }} extra - {{ extra.identifier }}</h3>
    </template>

    <json-viewer :value="extra.data" :expandDepth="5" copyable sort />
  </p-dialog>
  <div class="data-issues-page">
    <!--
      Issues table
    -->
    <p-data-table
      paginator
      lazy
      :rows="10"
      :rowsPerPageOptions="[10, 20, 50, 100]"
      :totalRecords="total"
      @page="onPage($event)"
      @sort="onSort($event)"
      sortMode="multiple"
      :value="issues"
      dataKey="id"
      v-model:expandedRows="expanded"
      :loading="loading"
    >
      <template #header>
        <div class="data-header">
          Issues (updating in {{ countdown }}s)
          <div style="flex: 1" />
          <span class="p-input-icon-left">
            <i class="pi pi-search" />
            <p-input-text type="text" placeholder="Search" />
          </span>
        </div>
      </template>
      <template #empty> No issues found. </template>
      <template #loading> Loading issue list data. Please wait. </template>
      <!-- Columns -->
      <p-column field="name" header="Name" sortable />
      <p-column field="description" header="Description" sortable />
      <p-column field="cve" header="CVE" sortable />
      <p-column field="cvss" header="CVSS" />
      <p-column field="service.target.ipAddress" header="IP Address" sortable>
        <template #body="slotProps">
          {{ slotProps.data.service.target.ipAddress }}
        </template>
      </p-column>
      <p-column field="last_verified_at" header="Last Verified" sortable>
        <template #body="slotProps">
          {{ isoToReadable(slotProps.data.lastVerifiedAt) }}<br />
          {{ isoToRelative(slotProps.data.lastVerifiedAt) }}
        </template>
      </p-column>
      <p-column field="notified_at" header="Notified at" sortable>
        <template #body="slotProps">
          {{ isoToReadable(slotProps.data.notifiedAt) }}<br />
          {{ isoToRelative(slotProps.data.notifiedAt) }}
        </template>
      </p-column>
      <p-column field="resolved_at" header="Resolved at" sortable>
        <template #body="slotProps">
          {{ isoToReadable(slotProps.data.resolvedAt) }}<br />
          {{ isoToRelative(slotProps.data.resolvedAt) }}
        </template>
      </p-column>
      <p-column field="extra" header="Extra">
        <template #body="slotProps">
          <p-button
            icon="pi pi-ellipsis-v"
            class="p-button-rounded p-button-secondary p-button-outlined"
            @click="
              extra = {
                data: slotProps.data.extra,
                identifier: slotProps.data.ipAddress,
                type: 'Issue',
              }
            "
          />
        </template>
      </p-column>
    </p-data-table>
  </div>
</template>

<script lang="ts">

import PDataTable from 'primevue/datatable';
import PColumn from 'primevue/column';

import PInputText from 'primevue/inputtext';
import PButton from 'primevue/button';

import PDialog from 'primevue/dialog';

import {
  computed,
  defineComponent, Ref, ref, watch,
} from 'vue';
import { DateTime } from 'luxon';
import { getPoolingModule } from '@/api/util';
import { Issue } from '@/@types/api/issue';

/**
 * Some configuration
 */
export default defineComponent({
  name: 'data-issues-page',
  components: {
    PDialog, PDataTable, PColumn, PInputText, PButton,
  },
  setup() {
    // Issue Data Pooling
    const {
      paginate, orderby, total, loading, objects, countdown, interval,
    } = getPoolingModule<Issue>('/issues');

    const onPage = (evn: {page: number, rows: number}): void => {
      paginate(evn.page, evn.rows);
    };

    const onSort = (evn: {multiSortMeta: {field:string, order: number}[]}) => {
      const { multiSortMeta } = evn;

      const dict: {[key: string]: number} = {};
      multiSortMeta.forEach((element: {field: string, order: number}) => {
        const { field, order } = element;
        dict[field] = order;
      });

      orderby(dict);
    };

    paginate(0, 10);

    // UI status variables
    const expanded = ref([]);
    const extra: Ref<unknown> = ref(null);
    const showExtra = (x: unknown) => {
      extra.value = x;
    };
    const extraDialog = computed({
      get: () => !!extra.value,
      set: (v) => {
        if (!v) { extra.value = null; }
      },
    });
    watch(extra, () => {
      console.log(extra.value);
    });

    // Util
    const isoToReadable = (iso: string) => (iso ? DateTime
      .fromISO(iso).toLocaleString(DateTime.DATETIME_SHORT) : '-');

    const isoToRelative = (iso: string) => (iso ? DateTime.fromISO(iso).toRelative() : '-');

    return {
      // Pagination
      onSort,
      onPage,
      total,
      // Pooling
      issues: objects,
      loading,
      countdown,
      interval,
      // UI status data
      expanded,
      extra,
      extraDialog,
      showExtra,
      // Utility functions
      isoToReadable,
      isoToRelative,
    };
  },
  unmounted() {
    clearInterval(this.interval);
  },
});
</script>

<style lang="scss" scoped>
.data-issues-page {
  display: flex;
  align-content: flex-start;
}

.data-header {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.issue-card {
  flex: 1;
  margin: 1em;
}
</style>
