<template>
  <!-- Extra Data Dialog -->
  <p-dialog v-model:visible="extraDialog">
    <template #header>
      <h3>{{ extra.type }} extra - {{ extra.identifier }}</h3>
    </template>

    <json-viewer :value="extra.data" :expandDepth="5" copyable sort />
  </p-dialog>
  <div class="data-targets-page">
    <!--
      Targets table
    -->
    <p-data-table
      paginator
      lazy
      :rows="10"
      :rowsPerPageOptions="[10, 20, 50, 100]"
      :totalRecords="total"
      @page="onPage($event)"
      @sort="onSort($event)"
      sortMode="multiple"
      :value="targets"
      dataKey="id"
      v-model:expandedRows="expanded"
      :loading="loading"
    >
      <template #header>
        <div class="data-header">
          Targets (updating in {{ countdown }}s)
          <div style="flex: 1" />
          <span class="p-input-icon-left">
            <i class="pi pi-search" />
            <p-input-text type="text" v-model="search" placeholder="Search" />
          </span>
        </div>
      </template>
      <template #empty> No targets found. </template>
      <template #loading> Loading target list data. Please wait. </template>
      <!-- Columns -->
      <p-column :expander="true" headerStyle="width: 3rem" />
      <p-column field="ipAddress" header="IP Address" sortable />
      <p-column field="domains" header="Domains">
        <template #body="slotProps">
          <template v-if="slotProps.data.domains.length === 0">
            No Domains
          </template>
          <template v-else>
            <p-chip
              v-for="domain in slotProps.data.domains"
              :key="domain"
              :label="domain"
            />
          </template>
        </template>
      </p-column>
      <p-column field="updatedAt" header="Last Updated" sortable>
        <template #body="slotProps">
          {{ isoToReadable(slotProps.data.updatedAt) }}<br />
          {{ isoToRelative(slotProps.data.updatedAt) }}
        </template>
      </p-column>
      <p-column field="extra" header="Extra">
        <template #body="slotProps">
          <p-button
            icon="pi pi-ellipsis-v"
            class="p-button-rounded p-button-secondary p-button-outlined"
            style="margin-right: 0.5em"
            @click="
              extra = {
                data: slotProps.data.extra,
                identifier: slotProps.data.ipAddress,
                type: 'Target',
              }
            "
          />
          <p-button
            icon="pi pi-plus"
            class="p-button-rounded p-button-secondary p-button-outlined"
            @click="
              $router.push({
                name: 'target-details',
                params: { id: slotProps.data.id },
              })
            "
          />
        </template>
      </p-column>
      <template #expansion="slotProps">
        <!--
          Services table
        -->
        <p-data-table
          :value="slotProps.data.services"
          dataKey="id"
          responsiveLayout="scroll"
        >
          <!-- Columns -->
          <p-column field="protocol" header="Protocol" sortable>
            <template #header> Protocol </template>
          </p-column>
          <p-column field="port" header="Port" sortable>
            <template #header> Port </template>
          </p-column>
          <p-column field="name" header="Name" sortable>
            <template #header> Name </template>
          </p-column>
          <p-column field="version" header="Version">
            <template #header> Version </template>
          </p-column>
          <p-column field="updatedAt" header="Created At">
            <template #header> Last Updated </template>
            <template #body="serviceProps">
              {{ isoToReadable(serviceProps.data.updatedAt) }}<br />
              {{ isoToRelative(serviceProps.data.updatedAt) }}
            </template>
          </p-column>
          <p-column field="extra" header="Extra">
            <template #header> Extra </template>
            <template #body="serviceProps">
              <p-button
                icon="pi pi-ellipsis-v"
                class="p-button-rounded p-button-secondary p-button-outlined"
                @click="
                  extra = {
                    data: serviceProps.data.extra,
                    identifier: `${slotProps.data.ipAddress}:${serviceProps.data.port}`,
                    type: 'Service',
                  }
                "
              />
            </template>
          </p-column>
        </p-data-table>
      </template>
    </p-data-table>
  </div>
</template>

<script lang="ts">
import { DateTime } from 'luxon';

import PDataTable from 'primevue/datatable';
import PColumn from 'primevue/column';

import PInputText from 'primevue/inputtext';
import PButton from 'primevue/button';

import PChip from 'primevue/chip';
import PDialog from 'primevue/dialog';

import {
  computed,
  defineComponent, Ref, ref,
} from 'vue';
import { getPoolingModule } from '@/api/util';
import { Target } from '@/@types/api/target';

/**
 * Some configuration
 */
export default defineComponent({
  name: 'data-targets-page',
  components: {
    PDialog, PDataTable, PColumn, PChip, PInputText, PButton,
  },
  setup() {
    // Target Data Pooling
    const {
      paginate, orderby, total, loading, objects, countdown, interval,
    } = getPoolingModule<Target>('/targets');

    const onPage = (evn: {page: number, rows: number}): void => {
      paginate(evn.page, evn.rows);
    };

    const onSort = (evn: {multiSortMeta: {field:string, order: number}[]}) => {
      const { multiSortMeta } = evn;

      const dict: {[key: string]: number} = {};
      multiSortMeta.forEach((element: {field: string, order: number}) => {
        const { field, order } = element;
        dict[field] = order;
      });

      orderby(dict);
    };

    paginate(0, 10);

    // UI status variables
    const expanded = ref([]);
    const search = ref('');
    const extra: Ref<unknown> = ref(null);
    const showExtra = (x: unknown) => {
      extra.value = x;
    };
    const extraDialog = computed({
      get: () => !!extra.value,
      set: (v) => {
        if (!v) { extra.value = null; }
      },
    });

    // Util
    const isoToReadable = (iso: string) => DateTime
      .fromISO(iso).toLocaleString(DateTime.DATETIME_SHORT);

    const isoToRelative = (iso: string) => DateTime.fromISO(iso).toRelative();

    return {
      // Pagination
      onSort,
      onPage,
      total,
      // Pooling
      targets: objects,
      loading,
      countdown,
      interval,
      // UI status data
      expanded,
      search,
      extra,
      extraDialog,
      showExtra,
      // Utility functions
      isoToReadable,
      isoToRelative,
    };
  },
  unmounted() {
    clearInterval(this.interval);
  },
});
</script>

<style lang="scss" scoped>
.data-targets-page {
  display: flex;
  align-content: flex-start;
}

.data-header {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.target-card {
  flex: 1;
  margin: 1em;
}

.domains-column {
  height: 100%;
  vertical-align: center;
}
</style>
