<template>
  <router-view class="page" />
</template>

<script lang="ts">
import 'primevue/resources/themes/saga-blue/theme.css';
import 'primevue/resources/primevue.min.css';
import 'primeicons/primeicons.css';

import { defineComponent } from 'vue';

export default defineComponent({
  setup() {
    return {};
  },
});

</script>

<style lang="scss">
html,
body,
#app,
#app > .page {
  margin: 0;

  width: 100%;
  height: 100%;
}

html,
body,
#app {
  overflow: hidden;
}

#app > .page {
  overflow: auto;
}
</style>
